betas vs alphas.py
Buscar_alpha.py
busqueda_alpha.py
Comparar envelope - Comparar muestras.py
mtrf.py
Otras pruebas (2019).ipynb
plot_receptive_field_mtrf_modified.py
Plot_señal_envolvente.py
Spectrogram.py
Validation.py

.ipynb_checkpoints/
.pylint.d/
Datos/
gráficos/
saves/
Praat/
__pycache__/
.idea/
