betas vs alphas
Buscar_alpha
busqueda_alpha
Cargar_Raw_data
Comparar envelope - Comparar muestras
Funciones
mtrf
Otras pruebas (2019)
plot_receptive_field_mtrf_modified
Plot_señal_envolvente
PSD - Cov - Pitch
Spectrogram
.gitignore

.ipynb_checkpoints/
.pylint.d/
Datos/
gráficos/
saves/
